@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .corsi-sidenav-component {
        @apply 
        bg-slate-50 hover:bg-sky-300
        text-black hover:text-slate-50
        p-4 w-full rounded 
        flex items-center gap-2 font-semibold;
    }

    .corsi-sidenav-icon-box {
        @apply bg-sky-200 text-sky-500 p-2 rounded w-10 h-10 flex items-center justify-center;
    }

    .profilo-sidenav-component {
        @apply 
        hover:bg-slate-700
        text-slate-300
        p-1 w-full rounded 
        flex items-center gap-1 cursor-pointer;
        
    }

    .profilo-sidenav-icon-box {
        @apply  text-slate-300 p-2 rounded w-10 h-10 flex items-center justify-center;
    }

    .profilo-sub-component {
        @apply 
        hover:bg-slate-800 
        text-slate-800 hover:text-slate-300
        p-2
        w-full rounded 
        flex items-center gap-1 cursor-pointer;
        
    }

    .profilo-sub-icon-box {
        @apply 
        text-slate-300 group-hover:text-slate-800
        bg-slate-800 group-hover:bg-slate-200
        p-2 rounded w-10 h-10 flex items-center justify-center;
    }
   
    .profilo-sub-component.selected {
        @apply 
        bg-slate-800 
        text-slate-300
        p-2
        w-full rounded 
        flex items-center gap-1 cursor-pointer;
        
    }

    .profilo-sub-icon-box.selected {
        @apply 
        text-slate-800
        bg-slate-200
        p-2 rounded w-10 h-10 flex items-center justify-center;
    }

    .form-group {
        @apply 
        bg-slate-50
        p-4 rounded shadow-md
    }

    .form-element {
        @apply
        flex flex-col gap-2
    }

    .form-element input, .form-element select {
        @apply 
        block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-sky-400 focus:outline-none
    }

    .form-element input:disabled, .form-element select:disabled {
        @apply 
        bg-slate-100
    }

    .form-element input.invalid {
        @apply
        border border-solid border-red-500
        focus:text-gray-700 focus:bg-white focus:border-red-500 focus:outline-none
    }


}
